modules = ["web", "python-3.12", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Dev Server"

[[workflows.workflow]]
name = "Flask Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34393
externalPort = 5000

[[ports]]
localPort = 34493
externalPort = 6000

[[ports]]
localPort = 35663
externalPort = 3003

[[ports]]
localPort = 36779
externalPort = 8080

[[ports]]
localPort = 38349
externalPort = 3000

[[ports]]
localPort = 40361
externalPort = 8008

[[ports]]
localPort = 41017
externalPort = 6800

[[ports]]
localPort = 41611
externalPort = 5173

[[ports]]
localPort = 41695
externalPort = 8000

[[ports]]
localPort = 42597
externalPort = 3002

[[ports]]
localPort = 44993
externalPort = 3001

[[ports]]
localPort = 46597
externalPort = 4200

[userenv]

[userenv.shared]
ADMIN_USERNAME = "Admin"
ADMIN_PASSWORD = "070781"
TELEGRAM_BOT_USERNAME = "GtaskManager_bot"
WEBHOOK_URL = "https://80920867-bcfe-40c3-8c97-a2e022a1c795-00-2wgpp1vtr7kmu.riker.replit.dev/telegram/webhook"

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--workers=2", "main:app"]
build = ["pip", "install", "-r", "requirements.txt"]
