# Werkzeug አለመጣጣምን ለመፍታት 2.3.x ስሪት ላይ እንቆያለን
# ይህ Flask 3.0.3 ን አይጎዳውም።
Werkzeug==2.3.8

Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.25 
gunicorn==22.0.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9

# የጠፋው ሞጁል (Module Not Found) ችግርን ለመፍታት
Flask-Mail

# በመጀመሪያው log ላይ የታዩ ሌሎች ጥገኞች
Flask-Bcrypt
Flask-Login
