# የቅርብ ጊዜዎቹን የተረጋጋ ስሪቶች ለመጠቀም የእኩልነት ምልክቱን እናነሳዋለን
Flask
Flask-SQLAlchemy
SQLAlchemy
gunicorn
python-dotenv
psycopg2-binary
werkzeug

# ሌሎች የረሱዋቸው ጥገኞች ካሉ አስገቡ:
# Flask-Bcrypt
# Flask-Login
# Flask-Mail
