# የ Werkzeug ግጭትን ለመፍታት ስሪቶችን እናነሳለን
# እና pip የቅርብ ጊዜውን የተረጋጋ ስሪት እንዲያገኝ እንፈቅዳለን።
Flask
Flask-SQLAlchemy
SQLAlchemy 
gunicorn
python-dotenv
psycopg2-binary
werkzeug
requests  # <--- አዲስ የተጨመረ: ከቴሌግራም API ጋር ለመገናኘት

# የእርስዎ ሌሎች ጥገኞች
Flask-Bcrypt
Flask-Login
Flask-Mail
